version: "2"

volumes:
  dbvolume:
  ipython:
  static_volume:

services:
  db:
    image: postgres:9.6.17
    env_file:
      - .env
    ports:
      - 5543:5432
    volumes:
      - dbvolume:/var/lib/postgresql/data/
  web:
    build:
      context: .
      dockerfile: ./backend/Dockerfile.prod
    restart: always
    expose:
      - 8000
    env_file:
      - .env
    environment:
      - DEPLOY_ENV=production
    volumes:
      - ./backend/:/usr/src/app/
      - ./Videos/:/usr/src/app/Videos
      - /static/
      - ipython:/root/.ipython
    command: bash -c "python3 /usr/src/app/manage.py collectstatic --no-input && gunicorn StreamingServer.wsgi:application --bind 0.0.0.0:8000"
    depends_on:
      - db

  nginx:
    build: ./nginx
    volumes:
      - ./backend/:/usr/src/app/
      - ./Videos/:/usr/src/app/Videos
      - static_volume:/usr/src/app/staticfiles
    ports:
      - 1337:80
    depends_on:
      - web
