/*
  All of the CSS below is strictly for the demo.  none of the components rely on this for actual
  functionality.
*/

$dark: #373737;
$light: #191515;
$white: #eeeeee;
$highlight1: #c0b283;
$highlight2: #dcd0c0;
$font-size--large-headline--mobile: 4rem;
$font-size--large-headline--desktop: 4.8rem;
$font-size--large-text--mobile: 1.6rem;
$font-size--large-text--desktop: 2rem;

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: $white;
  background-color: $light;
}

hr {
  border: 0;
  border-bottom: 1px dashed $highlight1;
  background: $highlight2;
  margin: 2rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Balsamiq Sans', cursive;
}

p {
  font-size: 1.2rem;
  line-height: 1.5em;

  @media all and (min-width: 480px) {
    font-size: 1.3rem;
  }
}

.select {
  width: 300px;
}

.slider {
  max-width: 1000px;
}


.img1-wrap {

}

.image {
  width: 100%;
}

.overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
  transition: .5s ease;
}

.img1-wrap:hover .overlay {
  height: 100%;
}
.img1-wrap:hover .paragraph {
  top: 50%;
  font-size: large;
  margin-top: 8%;
}

.img1-wrap:hover .text {
  height: 50%;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  padding: 0px 5px 0px 5px;
  overflow-wrap: break-word;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(240,240,255,0.42);
  border-radius: 15%;
}

._1z3wF{
  position: absolute;
  top: 50%;
  display: block;
  width: 44px;
  height: 44px;
  padding: 10px;
  transition: background-color .3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
  border-radius: 50%;
  background-color: hsla(0,0%,100%,.5);
}

._1z3wF:disabled, ._2KnME:disabled {
  cursor: default;
  opacity: .3;
}

.left{
  left: 95%;
}

.right{
  left:1.2%;
}

button:focus {
  outline: none !important;
}



.img-cover{
  height: 100%!important;
  width: 100%!important;
  overflow: hidden;
  object-fit: cover;
}


.video-element2{
  border: 2px solid transparent;
}

.video-element2:hover{
  // font-weight: bold;
  cursor: pointer;
  color: white;
  border: 2px solid white;
}



.selectBar{
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

.seriesDisplay{
  display: flex!important;
  flex: 1;
  margin-bottom: 10px;
}

@media (min-width: 1200px){
 .container {
   max-width: 1600px;
 }
}

.ui .grid{
  margin-bottom: 50px!important;
  text-align: center;
}

.video-element{

  padding: 0 2px;

}
.video-element2{
  position: relative;
  width: 100%!important;
  display: flex!important;
  height: 200px;
  flex-direction: column!important;
}

.paragraph-element{
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-top: auto;
  text-align:center;
  padding: auto;
  width: calc(100%);
}

.shadow-element{
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-image: linear-gradient(rgba(5, 5, 5, 0), rgba(5, 5, 5, 1));
}

.video-element2:hover .shadow-element{
  background-image: linear-gradient(rgba(136, 136, 136, 0), rgb(0, 0, 0));
  height: 130px;
}

.centerVer{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 6px;
}