.hover-hilight:hover{
    cursor: pointer;
    color: white;
}

.carrouselContainer{
    margin-bottom: 20px;
}

.EmptyVideos {
    text-align: center;
    position: relative;
    width: 50%;
    height: 50%;
    font-size: large;
    font-family: 'Balsamiq Sans', cursive;
    top: 50%;
}

.CircularProgress {
    text-align: center;
    position: relative;
    width: 50%;
    height: 50%;
    font-size: large;
    font-family: 'Balsamiq Sans', cursive;
    top: 75%;
}

