.arrow {
    position: absolute;
    line-height: 100%;
    font-size: 123px;
    top: 18%;
    z-index: 2;
    opacity: 0.5;
}
.next { left: 25px; }
.next-spinner-hidden {
    display: none;
}
.back { right: 25px; }

.next-spinner-wheel {
    position: absolute;
    line-height: 100%;
    font-size: 123px;
    top: 18%;
    z-index: 2;
    opacity: 1;
    right: 25px;
}


.arrow:hover {
    opacity: 1;
    cursor: pointer;
}

/* Media query for mobile screens */
@media only screen and (max-width: 768px) {
    .next { display: none; }
    .back { display: none; }
    .next-spinner-wheel {display: none;}
}
