.headerBar{
    display: flex;
    margin: 40px;
    font-family: 'Balsamiq Sans', cursive;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 100;

}
.leftBarElement{
    margin: 0 15px;
    color: red;
}

.leftBar{
    display: flex;
    flex-direction: row;
}


@media all and (min-width: 720px) {
    .headerBar{
        flex-direction: row;
    }

}

@media all and (max-width: 720px) {

    .headerBar{
        flex-direction: column;
    }

}
