

.box {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }


.UpdateBar{
    font-family: 'Balsamiq Sans', cursive;
    font-size:1.5rem;
}
.CloseButton{
    color:rgb(170, 13, 13);
}

